name: Deploy Spring Boot to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B package

    - name: Copy JAR to EC2
      run: |
        echo "${{ secrets.AWS_KEY }}" > key.pem
        chmod 600 key.pem
        scp -o StrictHostKeyChecking=no -i key.pem target/*.jar ubuntu@3.145.138.105:/home/ubuntu/to-do-list-api/api.jar

    - name: Deploy application on EC2
      run: |
        echo "${{ secrets.AWS_KEY }}" > key.pem
        chmod 600 key.pem
        ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@3.145.138.105 "pkill -f 'java -jar' || true"
        ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@3.145.138.105 "nohup java -jar /home/ubuntu/to-do-list-api/api.jar > /dev/null 2>&1 &"
